{% extends "shopping/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
        <div class="container d-flex flex-wrap align-items-start" id="display-items">

            <script>

                function deleteItem(item_id) {
                    fetch(`/delete_item/${item_id}`, {
                        method: "DELETE"
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        const messageElement = document.createElement('div');
                        messageElement.className = "ms-3 mb-3 alert alert-danger fs-5";
                        messageElement.id = "message"
                        document.querySelector('#display-items').prepend(messageElement);
                        document.querySelector('#message').innerHTML = data.message;

                        setTimeout(() => {
                            document.querySelector('#message').innerHTML = "";
                            window.location.replace("{% url 'index' %}");
                        }, 20000)  
                    })
                    .catch(error => {
                        console.log('Error:', error)
                    })
                }

            </script>
        
            {% if user_shops %}
                {% for shop in user_shops %}
                <div class="card m-3" style="width: 18rem;">
                    <div class="card-header fw-bold">
                        {{ shop.shop_name }}
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for item in user_items %}
                            {% if item.shop.id == shop.id  %}
                            
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>{{ item.item_name }}</div>
                                        <div>{{ item.item_note }}</div>
                                        <button type="button" id="delete-button" class="btn btn-outline-danger btn-sm"
                                            data-bs-toggle="modal" data-bs-target="#deleteModal-{{ item.id }}">
                                            Delete
                                        </button>
                                    </div>
                                </li>  
                                
                                <div class="modal fade" id="deleteModal-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete item</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div>Are you shure you want to delete 
                                                    <span class="fs-5 ms-1">{{ item.item_name }}</span> item?
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" onClick="deleteItem('{{ item.id }}'); return false;" id="delete-item">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           
                            {% endif %}
                        {% endfor %}    
                    </ul> 
                </div>
                {% endfor %}
            {% endif %}
            </div>

    {% else %}

        <div class="text-center mt-4">
            <div>
                To create your own shopping list
            </div>
            <div class="">
                Please <a class="auth" href="{% url 'login' %}">Login</a> 
                or <a class="auth" href="{% url 'register' %}">Register.</a>    
            </div>
            
        </div>

    {% endif %}

{% endblock %}