{% extends "shopping/layout.html" %}

{% block body %}

    <div class="d-flex flex-column align-items-center">

        <div class="my-3">Your username: 
            <span class="auth fs-5 ms-2">{{ user.username }}<span>
        </div>

        <form action="{% url 'profile' %}" method="post" class="d-flex flex-column align-items-center">
            {% csrf_token %}

            <div class="grid-2-columns">
                {{ form }}
            </div>

            <button class="btn button-green mt-4" type="submit">Save</button>
        </form>
    </div>


{% endblock %}